:root {
    --osu-red: 255, 50, 50;
}

tr>td+td {
    white-space: normal !important;
}

td {
    height: 1px;
}

table.longtable>tbody>tr:not(:nth-child(1))>td:first-child {
    vertical-align: middle;
}

table.longtable>tbody>tr:not(:nth-child(1))>td:first-child>p {
    white-space: nowrap;
    height: calc(100% - 2em);
    min-height: 90px;
    vertical-align: middle;
    /* border-right: 12px solid black; */
    margin-right: 1em;
    /* background: rgb(var(--osu-red)); */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(var(--osu-red)) 100%);
    border-radius: 5px;
    padding: 1em;
    color: white;
}

table.longtable>tbody>tr:nth-last-child(-n+5)>td:first-child>p {
    display: none;
}

table.longtable .tooltip>a {
    color: rgb(255, 255, 255);
}

table.longtable>tbody>tr:not(:nth-child(1))>td:first-child>p>b {
    font-size: 2em;
    font-weight: 900;
    text-transform: lowercase;
    height: 50px;
    text-shadow: 0px 0px 30px rgb(var(--osu-red));
}

hr {
    border: 2px dotted rgb(var(--osu-red));
}

.longtable>tbody>tr:nth-child(n+4)>td {
    /* background: black; */
    /* display: block; */
}

table.longtable>tbody>tr>td:first-child div ul:not(:first-child) {
    background-color: #900;
}

ul.itemize1,
ul.itemize2 {
    padding-inline-start: 0px;
}

li.itemize {
    margin-left: 2em;
}

.longtable ul.itemize1>li {
    margin-bottom: 0.5em;
    padding: 0.2em;
    padding-left: 0.4em;
    border: 2px solid rgb(var(--osu-red), 0.5);
    border-left: 1em solid rgb(var(--osu-red), 1);
    border-radius: 4px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(var(--osu-red), 0.1) 100%);
}


/* .longtable ul.itemize1>li:nth-child(odd) {
    border: 2px solid rgb(var(--osu-red), 0.5);
    border-left: 1em solid rgb(var(--osu-red), 0.5);
} */

.longtable td>ul>li {
    margin-left: 0px !important;
    list-style: none;
}

table.longtable {
    table-layout: auto;
    width: 100%;
}

a,
a:visited {
    color: rgb(var(--osu-red));
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin-bottom: 1em;
}

tbody p {
    margin-bottom: 0;
}

span.sout {
    text-decoration: line-through;
}

span.texthl {
    background: #ffea3d;
    border-radius: 5px;
}

.longtable .texthl {
    background: rgba(var(--osu-red), 0);
    text-shadow: 0px 0px 10px black;
}

span.textul {
    text-decoration: underline;
}

span.textcolor {
    color: rgb(var(--osu-red));
}

body {
    line-height: 1.4;
    zoom: 1;
    font-family: "Merriweather Sans", sans-serif;
    max-width: 100%;
    padding: 2em 2em 2em 2em;
    font-weight: 300;
    background: rgb(240 240 240 / 1);
    color: rgb(20 20 20 / 1);
}

b {
    font-weight: 600;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

span.subsectionToc {
    padding-left: 2em;
}

.tableofcontents {
    display: block;
    position: fixed;
    width: 190px;
    align-items: center;
    font-weight: 900;
    text-transform: uppercase;
    bottom: 0;
    right: 0;
    padding: 1em 0;
    height: auto;
    zoom: 1;
    text-align: right;
}

.tableofcontents>span {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    align-content: baseline;
    background: rgb(var(--osu-red));
    box-shadow: 0px 5px 30px rgb(148 29 29);
    display: inline-block;
}

.tableofcontents>span>a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

span.paragraphHead {
    font-weight: 700;
}

h4.subsectionHead,
h4.likesubsectionHead {
    font-size: 1.2em;
}

h3.sectionHead {
    font-size: 1.4em;
    color: rgb(var(--osu-red));
}

table#TBL-3 {
    margin-bottom: 1em;
}

table#TBL-6 tr>td:last-child {
    padding-left: 1em;
}

table#TBL-6 tr>td+td {
    padding-left: 1em;
}

table#TBL-3 tr>td:last-child {
    padding-left: 1em;
}

@media only screen and (max-width: 768px) {
    .tableofcontents {
        align-items: center;
        justify-content: flex-end;
        padding: 1em 0.5em;
    }
    .tableofcontents>span {
        margin: 2px;
    }
    body {
        padding: 1em;
    }
}

.auto-anchor {
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    color: grey;
    margin-right: 5px;
    font-size: 1em;
    cursor: pointer;
}

span.discord-path {
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    text-shadow: 0px 0px 10px yellow;
}

.auto-anchor:hover {
    color: rgb(var(--osu-red));
}

.tooltip {
    position: relative;
    display: inline-block;
    font-size: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(var(--osu-red));
    color: #fff;
    text-align: Left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 0.7em;
    font-weight: 400;
    display: inline-block;
    white-space: nowrap;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

ul.itemize3 {
    padding: 0;
}

.emoji {
    width: 1.5em;
    height: auto;
    margin-bottom: -0.4em;
}

.resource-highlight {
    text-shadow: 0px 0px 10px rgb(var(--osu-red));
    font-weight: 500;
}

@media print {
    .tableofcontents {
        display: none;
    }
    .auto-anchor {
        display: none;
    }
}